div.red > p::before {
  content: "☹";
}

div.green > p::before {
  content: "㋡";
}

.green {
  color: green;
}

.red {
  color: red;
}

p {
  font-size: 20px;
}

button {
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: orange;
  color: white;
  border: solid 2px black;
}

.container {
  display: flex;
  flex-direction: column;
}

.change-mode {
  margin-bottom: 50px;
  color: white;
  background-color: blue;
}
