<h1>Impersonator example</h1>


<div [ngClass]="(userService.impersonatorAllowed$ | async) ? 'green' : 'red'">
	<p>{{ description }}!</p>
</div>
<button class="change-mode" (click)="changeMode()">{{buttonName}}</button>

<div class="container">
	<button (click)="onClick(1)">
    You can always click me, no impersonator check
  </button>

	<button impersonatorChecker (click)="onClick(2)">
    The impersonator check is present
  </button>

	<button impersonatorChecker [anotherCondition]="true" (click)="onClick(3)">
    The impersonator check is present but the other condition is true
  </button>

	<button impersonatorChecker [anotherCondition]="false" (click)="onClick(4)">
    The impersonator check is present but the other condition is false
  </button>
</div>